* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    width: 100%;
    overflow-x: hidden;
    color: #707070;
    font-family: "open sans";
}

a {
    text-decoration: none;
    color: #707070;
    font-size: 16px;
}

ul,
li {
    list-style-type: none;
}

/* =============Comman-Css================== */

.btn {
    color: #fff;
    background: linear-gradient(to top, purple, purple);
    padding: 8px 20px;
    border-radius: 2px;
    margin: 15px 0;
    display: inline-block;
}

.btn-big {
    padding: 10px 35px;
}

input {
    border: none;
    box-shadow: 0 0 4px #ccc;
    padding: 10px 15px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 8px #ccc;
}


button:focus {
    outline: none;
}

.tdata {
    background-color: purple;    
    color: #fff !important;
}

header{
    background-color: rgb(118, 228, 91);
}




/* ===========Side-bar-css-Start============== */

.sidebar-nav {
    width: 250px;
    padding: 15px;
    background-color: rgb(118, 228, 91);
    height: 100%;
    box-shadow: 0 0 8px rgb(233, 233, 233);
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
}

.logo {
    margin-bottom: 50px;
}

.logo h1 {
    color: blue;
    font-family: "Righteous";
    font-size: 40px;
}

.logo a img {
    width: 50px;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #fff;
}

.profile .avtar {
    margin-right: 15px;
}

.profile .name-pos h5 {
    color: #ccc;
}

.side-nav ul li {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 15px 10px;
    width: 100%;
    transition: .4s;
    cursor: pointer;
    color: #fff;
}

.side-nav ul li:hover {
    background-color: yellow;
    color: #fff;
}

.side-nav ul li:hover a {
    color: #fff;
}

.side-nav ul li span {
    margin-right: 20px;
    
}
.side-nav ul li a {
    color: #fff;
    
}

/* ================header-css-Start================= */

header {
    margin-left: 250px;
    padding: 15px;
    box-shadow: 0 0 8px #ccc;
    min-height: 80px;
}

.head-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

div.name-pos:hover, .notification:hover{
    /* background-color: tomato; */
    color:plum;
    
    
}


header form {
    position: relative;
    width: 300px;
    height: 45px;
}

header form input {
    width: 100%;
    height: 100%;
}

header button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    background-color: yellow;
}

.right-part ul {
    display: flex;
    align-items: center;
}

.right-part ul li {
    margin-left: 40px;
}

.right-part ul .user {
    display: flex;
    align-items: center;
}

.right-part ul .user h2 {
    font-weight: 400;
    margin-left: 15px;
}

.right-part ul li.notifiaction span,
.right-part ul li span {
    font-size: 22px;
    cursor: pointer;
    position: relative;
}

.right-part ul li.notifiaction span::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 7px;
    height: 7px;
    border-radius: 20px;
    background-color: yellow;

}


/* ===========Main_contant-css-Start================== */

.main_contant {
    margin: 25px;
    margin-left: 275px;
    padding: 15px;
    box-shadow: 0 0 8px rgb(238, 238, 238);
}

.main_contant .bread-crumbs {
    margin-bottom: 20px;
}

.main_contant .bread-crumbs ul li {
    display: flex;
    align-items: center;
}

.main_contant .bread-crumbs ul li span {
    color: tomato;
    margin-right: 10px;
    font-size: 30px;
}

.main_contant .bread-crumbs ul li h3 {
    font-size: 30px;
    color: blue;
}

.info_card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}



.main {
    margin-top: 20px;
    display: grid;
}

.main table thead tr td {
    font-weight: 600;
    color: #000;
    line-height: 60px;
}

/* ===============Jquery-hide-show-class=========== */

.sidebar-nav.hide li a,
.sidebar-nav.hide .name-pos {
    display: none;
}

.sidebar-nav.hide {
    width: 100px;
}

.sidebar-nav.hide li span {
    font-size: 22px;
}

.sidebar-nav .logo a:last-child,
.sidebar-nav.hide .logo a:first-child {
    display: none;
}

.sidebar-nav.hide .logo a:last-child {
    display: block;
    font-size: 50px;
    text-align: center;
}

.slide-left {
    margin-left: 100px;
}



@media screen and (max-width:992px) {

    .sidebar-nav {
        left: -250px;
        transition: .4s;
        z-index: 1000;
    }

    .sidebar-nav.hide {
        left: 0;
        width: 250px;
    }

    .sidebar-nav.hide li a,
    .sidebar-nav.hide .name-pos,
    .sidebar-nav.hide .logo h1:first-child {
        display: block;
    }

    .sidebar-nav.hide .logo h1:last-child {
        display: none;
    }

    .logo {
        margin-bottom: 30px;
    }

    header,
    .main_contant {
        margin-left: 0;
    }

    .slide-left {
        margin-left: 0;
    }
}


@media screen and (max-width:767px) {

    .head-inner .name-pos {
        display: none;
    }

    header form {
        width: 150px;
    }

    header button {
        width: 30%;
    }

    .main table {
        width: 700px;
    }

    .main {
        overflow-x: auto;
    }

    .info_card {
        flex-wrap: wrap;
    }

    .info_card .card {
        width: 49%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:475px) {

    .head-inner {
        flex-direction: column-reverse;
    }

    .head-inner .left-part,
    .head-inner .right-part {
        width: 100%;
        margin-bottom: 15px;
    }

    header form {
        width: 100%;
    }

    header button {
        width: 15%;
    }

    .right-part ul {
        justify-content: space-between;
    }

    .info_card {
        flex-direction: column;
    }

    .info_card .card {
        width: 100%;
    }

    .main_contant {
        margin: 0;
    }
}

.modal_container{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    /* left: 300px; */
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5) ;
    align-items: center;
    justify-content: center;
    pointer-events:auto ;
    display: flex;
    visibility: hidden;
}

.modal{
    background-color: #eee;
    width: 500px;
    padding: 80px;
    border-radius: 5%;
}

.modal .modal_space {
    align-items: center;
    margin: 15px;
} 
label{
    color: purple;
}

#btn-add {
    background-color: rgb(118, 228, 91); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
  }
#btn-add:hover{
    background-color: #002b2b;

}

  #btn-close {
    background-color: tomato; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
  }

#btn-close:hover{
    background-color: #470b00;
}

.fa-trash{
    /* background-color:tomato ; */
    color: tomato;
    margin:5px ;
    padding: 5px;
    font-size: 20px;
}

.fa-edit{
    /* background-color:teal ; */
    color: teal;
    margin: 5px;
    padding: 5px;
    font-size: 20px;

    
}

.fa-exchange{
    font-size: 26px;
}

.in-stock{
    color:green;
}
.out-of-stock{
    color: red;
}
.almost-out-of-stock{
    color: orange;
}


#add-btn {
    background-color: blue; 
    border: none;
    color: white;
    padding: 30px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
  }
#add-btn:hover{
    background-color:#002b2b;

}
